{% load static %}

<html>
<head>
    <title>{% block title %}timetracker{% endblock %}</title>
    <meta charset="UTF-8">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">{{_('Home')}}</a></li>
                {% if request.user.is_authenticated %}
                <li><a href="{% url 'logout' %}">{{_('Log out')}}</a></li>
                {% else %}
                <li><a href="{% url 'login' %}">{{_('Log in')}}</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
	{% block content %}{% endblock %}
	<script src="{% static 'js/main.js' %}"></script>
</body>
</html>
