{% extends "base.html" %}
{% load i18n %}

{% block title %}{{_('Log in')}}{% endblock %}

{% block content %}
<section class="section">
    <div class="container">
        <p class="content">
            <a href="{% url 'register' %}">
                {{_('Don\'t have an account? Register.')}}
            </a>
        </p>

        {% if form.errors %}
        <div class="notification is-danger">
            {{_('Your username and password didn\'t match. Please try again.')}}
        </div>
        {% endif %}

        {% if next %}
            {% if user.is_authenticated %}
            <p class="content">
                {% blocktrans %}Your account doesn't have access to this page. To proceed,
                please login with an account that has access.{% endblocktrans %}
            </p>
            {% else %}
            <p class="content">{{_('Please login to see this page.')}}</p>
            {% endif %}
        {% endif %}

        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <div class="field is-horizontal">
                <div class="field-label">
                    {{ form.username.label_tag }}
                </div>
                <div class="field-body">
                    <p class="control">
                        {{ form.username }}
                    </p>
                </div>
            </div>
            <div class="field is-horizontal">
                <div class="field-label">
                    {{ form.password.label_tag }}
                </div>
                <div class="field-body">
                    <p class="control">
                        {{ form.password }}
                    </p>
                </div>
            </div>
            <div class="field">
                <p class="control">
                    <input class="button is-primary" type="submit" value="{{_('Login')}}">
                </p>
            </div>
            <input type="hidden" name="next" value="{{ next }}">
        </form>

        <p class="content"><a href="{% url 'password_reset' %}">{{_('Lost password?')}}</a></p>
    </div>
</section>

{% endblock %}
