{% extends "base.html" %}
{% block content %}
<h1>Activities</h1>
<p><a href="{% url "activities:create" %}">New activity</a></p>
{% if object_list %}
    <table class="activities-table">
        <thead>
            <th>Time</th>
            <th>Project</th>
            <th>Activity</th>
            <th>Time spent</th>
            <th>Edit</th>
            <th>Delete</th>
            <th>Stop</th>
        </thead>
        <tbody>
        {% for activity in object_list %}
            {% ifchanged activity.start_date %}
            <tr class="activity-start-date">
                <td colspan="7">
                {{ activity.start_date }}
                </td>
            </tr>
            {% endifchanged %}
            <tr>
                <td>
                    {{ activity.start_time }}{% if activity.end_time %}- {{ activity.end_time }}{% endif %}
                </td>
                <td>{{ activity.project }}</td>
                <td>
                    {{ activity.activity }}
                </td>
                <td>{{ activity.get_duration_display }}</td>
                <td>
                    <a href="{% url 'activities:update' activity.pk %}">
                        Edit
                    </a>
                </td>
                <td>
                    <form method="post" action="{% url 'activities:delete' activity.pk %}">
                        {% csrf_token %}
                        <button class="js-delete-button">Delete</button>
                    </form>
                </td>
                <td>
                    {% if activity.is_active %}
                        <div>
                            <form method="post" action="{% url 'activities:stop' activity.pk %}">
                                {% csrf_token %}
                                <button>Stop</button>
                            </form>
                        </div>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
{% else %}
    <p>No activities found.</p>
{% endif %}

{% endblock %}
