@import '~bulma/css/bulma.min';

table.activities-table {
    tr.activity-start-date {
        td {
            border-top: 1px solid black;
            font-weight: bold;
            font-size: 40px;
        }
    }
}
